body {
  margin: 0;
}

.coin-list {
  &__header {
    margin-left: 4rem;
  }
  &__list-item {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  &__link {
    text-decoration: none;
    color: black;
  }
}
